[Unit]
Description=Reset ustate to 0 after the system boots
Wants=network-online.target
After=multi-user.target network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/grub-editenv /boot/EFI/BOOT/grub.env set ustate=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target